<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>List of Actors</h1> 
      <div>
        Crear Actor  &nbsp;
        <%= link_to "<span class='glyphicon glyphicon-plus'></span>".html_safe, "crear actor", :action => 'new', :controller => 'actors' %>  
      </div>
      <br>
      <table>
        <th>Photo</th>
        <th>Name</th>
        <th>Bio</th>
        <th>Birth Date</th>
        <th>Birth Place</th>
        <th>Death Date</th>
        <th>Death Place</th>
              <% @actors.each do |actor| %>
                <tr>
                  <td> <img src="<%= actor.image_url %>">  </td>
                  <td><%= actor.name %></td>
                  <td><%= actor.bio %></td>
                  <td><%= actor.birth_date %></td>
                  <td><%= actor.birth_place %></td>
                  <% if actor.death_date != nil%>
                    <td><%= actor.death_date %></td>
                    <td><%= actor.death_place %></td>
                  <% end %> 
                </tr>

              <% end %>
      </table>
    </div>
  </div>
</div>